/**** CSS RESET ****/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/*FONTS*/

@font-face {
  font-family: "Hexed";
  src: url("/fonts/TG-Hexed.otf") format("opentype");
}

/* Set core body defaults */

html {
  background-color: #1a1919;
  color: #eeeeee;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  /* font-family: "Helvetica", sans-serif; */
  font-family: monospace;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: Helvetica, sans-serif;
}

a {
  color: inherit;
  text-underline-offset: 0.25em;
}

h3 {
  font-size: 1rem;
  padding-top: 0.25rem;
}

h1 {
  font-family: "Hexed";
  font-weight: inherit;
  font-size: 2.2rem;
  line-height: 1;
  margin-bottom: 1.7rem;
  margin-top: 1.5rem;
}

body {
  background-color: #000000;
  background-image: url("/assets/bg-dark.jpg");
  background-size: auto;
  background-position: top left;
  background-repeat: repeat;
}